<h1 class="display-4 text-danger text-center">Your Favorites</h1>
<div class="container bg-success">
  <div class="row">
    <%@favorites.reverse.each do |el|%>
      <section class="card bg-danger w-50 my-5 mx-5 border-white text-center">
        <div class="card-body">
          <h2 class="card-title text-info bg-dark">
            "<%=el.strain%>"
          </h2>
          <%= image_tag el.comment, class: "card-img img-thumbnail rounded-circle border-danger" %>
          <!-- <img src="../<%=el.comment%>" class="card-img img-thumbnail rounded-circle border-danger" style="width: 256px;" alt="<%=el.comment%>"/> -->
        </div>
      </section>

      <div class="container col-4 bg-warning text-center align-items-center">
        <div class="row">
          <button class="btn btn-lg btn-secondary" type="button" name="button"><%= link_to 'Edit Fav', edit_favorite_path(el.id) %></button>
          <button class="btn btn-lg btn-danger" type="button" name="button"><%= link_to 'Delete Fav', favorite_path(el.id), method: :delete %></button>

        </div>
      </div>
    <%end%>
  </div>
</div>
