<!DOCTYPE html>
<html>
  <head>
    <title>Frida's Freshy Favorites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%if current_user%>
        <%=link_to "Main Page", favorites_path%>
        <%=link_to "New Favorite", new_favorite_path%>
        <%end%>
      </nav>
    </header>
    <div class="jumbotron">
      <!-- <script>
         var div = document.getElementById("data");
         var data;
         var sendApi = function(){
           var myRequest = new Request("https://api.otreeba.com/v1/strains?count=50&sort=name");
           fetch(myRequest).then(function(response){
             return response.json();
           }).then(function(myJson){
             data = myJson;
           })
         };
         sendApi();
      </script> -->
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    <%=link_to 'SIGN OUT', destroy_user_session_path, method: :delete%>
    </div>
  </body>
</html>
