<!DOCTYPE html>
<html>
  <head>
    <title>Frida's Freshy Favorites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class-"container">
      <%if current_user%>
      <nav class="navbar bg-primary ">
        <div class="container ">
          <div class="navbar-nav text-success d-inline nav-expand">
            <%=link_to "Main Page", favorites_path%></b>
            <%=link_to "New Favorite", new_favorite_path%>
            <%=link_to "See Favorites", user_path(current_user)%>
            <%=link_to 'SIGN OUT', destroy_user_session_path, method: :delete%>
         </div>
         <button class="form btn btn-lg btn-danger">Show Form</button>
         <span class="navbar-text">Click on ADD for add form</span>
         <form class="form-inline" >
           <input class-"form-control" type="text" name="" placeholder="search">
           <button class="btn btn-outline-warning" type="submit" name="button">Buzz</button>
         </form>
         <div class="btn-lg">
           <script type="text/javascript">
             $('.form').click((event) => {
             $('.new-form').toggle('slow');
               });
           </script>
         </div>
        </div>
      </nav>

      <%end%>
    </header>
    <div class="joint">
      <!-- data.data is the array -->
      <script>
         var div = document.getElementById("data");
         var data;
         var dataArr;

         var sendApi = function(){
           var myRequest = new Request("https://api.otreeba.com/v1/strains?count=50&sort=name");
           fetch(myRequest).then(function(response){
             return response.json();
           }).then(function(myJson){
             data = myJson;
             dataArr = data.data;
             console.log(dataArr);

                dataArr.forEach( function(seed) {
                let freshy =  `<h2 data-strain="${seed.name}">"${seed.name}"</h2>
                  <p><a href="${seed.url}" target="_blank">${seed.name} Info
                  </a></p>
                  <img src="${seed.image}" class="img-thumbnail rounded-circle" alt="Weed!"/>
                  `;

                 $('.list').append(freshy);
                })
           })
         };
         sendApi();

      </script>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>
