<!DOCTYPE html>
<html>
  <head>
    <title>Frida's Freshy Favorites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-success">
    <header class="container">
      <%if current_user%>
      <nav class="navbar bg-secondary ">
        <div class="container ">
          <div class="navbar-nav text-success d-inline nav-expand">
           <button class="btn btn-lg btn-dark" type="button" name="button">    <%=link_to "Main Page", favorites_path%></button>
           <button class="btn btn-lg btn-success" type="button" name="button"><%=link_to "New Favorite", new_favorite_path%></button>
           <button class="btn btn-lg btn-warning" type="button" name="button"><%=link_to "See Favorites", user_path(current_user)%></button>
           <button class="btn btn-lg btn-danger" type="button" name="button"><%=link_to 'SIGN OUT', destroy_user_session_path, method: :delete%></button>
          </div>
         <button class="form btn btn-lg btn-outline-danger">Show Form</button>
         <!-- <span class="navbar-text">Click on ADD for add form</span> -->
         <form class="form-inline" >
           <input class-"form-control" type="text" name="" placeholder="search">
           <button class="btn btn-outline-warning" type="submit" name="button">Buzz</button>
         </form>
         <div class="btn-lg">
           <script type="text/javascript">
             $('.form').click((event) => {
             $('.new-form').toggle('slow');
               });
           </script>
         </div>
        </div>
      </nav>

      <%end%>
    </header>
    <div class="joint">
      <!-- data.data is the array -->
      <script>
         var div = document.getElementById("data");
         var data;
         var dataArr;

         var sendApi = function(){
           var myRequest = new Request("https://api.otreeba.com/v1/strains?count=50&sort=name");
           fetch(myRequest).then(function(response){
             return response.json();
           }).then(function(myJson){
             data = myJson;
             dataArr = data.data;
             console.log(dataArr);

                dataArr.forEach( function(seed) {
                    let freshy =`
                    <section class="card bg-secondary w-50 text-light" >
                      <div class="card-body">
                      <img src="${seed.image}" class="img-thumbnail img-fluid rounded-circle" alt="Weed!"/>
                      <h2 class="card-title">
                        "${seed.name}"
                      </h2>
                      <h5 class="card-subtitle">

                      </h5>
                      <button class="btn btn-lg btn-warning"><a href="${seed.url}" target="_blank">${seed.name} Info
                      </a></button>

                      </div>
                    </section>
                    `;




                 $('.list').append(freshy);
                })
           })
         };
         sendApi();

      </script>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>
