<!DOCTYPE html>
<html>
  <head>
    <title>Frida's Freshy Favorites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-success">
    <header class="container">
      <%if current_user%>
      <nav class="navbar bg-secondary ">
        <div class="container ">
          <img class="navbar-brand img-thumbnail" src="/weed.jpeg"  alt="Weed!">
          <div class="navbar-nav text-success d-inline nav-expand">
           <button class="btn btn-lg btn-dark" type="button" name="button">    <%=link_to "Main Page", favorites_path%></button>
           <button class="btn btn-lg btn-success" type="button" name="button"><%=link_to "New Favorite", new_favorite_path%></button>
           <button class="btn btn-lg btn-warning" type="button" name="button"><%=link_to "See Favorites", user_path(current_user)%></button>
           <!-- <button class="form btn btn-lg btn-outline-danger">Show Form</button> -->
           <button class="btn btn-lg btn-danger" type="button" name="button"><%=link_to 'SIGN OUT', destroy_user_session_path, method: :delete%></button>
        </div>

         <div class="container bg-primary">
           <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle btn-danger" type="button">Local Shops</button>
            <div class="dropdown-menu">
              <div class='dropdown-header  text-center text-danger'>See Local Menu's</div>
               <a class="dropdown-item" href="https://keystoneshops.com/locations/devon/" target="_blank">Devon</a>
              <a class="dropdown-item"  href="https://www.terravidahc.com/abington-menu/" target="_blank">Abington</a>
             </div>
           </div>
         </div>
         <!-- dropdown-menu -->
        </div>
      </nav>
      <%end%>
    </header>

    <div class="joint">
      <!-- data.data is the array -->
      <script>
         var div = document.getElementById("data");
         var data;
         var dataArr;

         var sendApi = function(){
           var myRequest = new Request("https://api.otreeba.com/v1/strains?count=50&sort=name");
           fetch(myRequest).then(function(response){
             return response.json();
           }).then(function(myJson){
             data = myJson;
             dataArr = data.data;
             console.log(dataArr);

                dataArr.forEach( function(seed) {
                    let freshy =`
                    <section class="card bg-secondary w-50 mb-3 border-danger" >
                      <div class="card-body">
                      <img src="${seed.image}" class="card-img img-thumbnail img-fluid rounded-circle" alt="Weed!"/>
                      <h2 class="card-title text-info">
                        "${seed.name}"
                      </h2>

                      <form  action="/favorites" method="post">
                      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
                        <input class="form-control" type="hidden" name="favorite[strain]" value="${seed.name}">
                        </input>
                        <input class="form-control" type="hidden" name="favorite[comment]" value="${seed.image}">
                        </input>
                          <button class="btn btn-lg btn-outline-success" type="submit">Save with hidden field</button>
                      </form>

                      <button class="btn btn-lg btn-warning"><a href="${seed.url}" target="_blank">${seed.name} Info
                      </a></button>

                      </div>
                    </section>
                    `;

                 $('.list').append(freshy);
                })
           })
         };
         sendApi();
      </script>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>
